* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  /*background: #DDD;*/
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  float: left;
  background-color: #fff;
  padding: 10px;
  padding-bottom: 10px;
}

.grid-item:hover {
  float: left;
  background-color: #f3f3f3;
  border-radius: 15px;
  padding:10px;
  margin: 5px;
}

.grid-item img {
  display: block;
  border-radius: 15px;
  max-width: 100%;
}

.grid-item a{
  display: block;
  max-width: 100%;
  text-decoration: none;
}


/* ---- .grid-item Titre et description---- */

.titre h3
{
  color: #5C5C5C;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:1.3em;
}

.description
{
  color: #5C5C5C;
  font-size: 1em;
}


/* ---- Media Queries---- */

/*Affichage GSM portrait*/
@media screen and (max-width: 479px)
{
  .grid-sizer,
  .grid-item
  {
  width: 100%;
  }
  .grid-item img {
    margin: auto;
  }
}

/*Affichage GSM paysage et tablette portrait*/
@media screen and (min-width: 480px) and (max-width: 959px)
{
  .grid-sizer,
  .grid-item
  {
  width: 50%;
  }
  .grid-item img {
    margin: auto;
  }
}

/*Affichage tablette paysage et ordi petit à moyen*/
@media screen and (min-width: 960px) and (max-width: 1280px)
{
  .grid-sizer,
  .grid-item
  {
  width: 33.33%;
  }
  .grid-item img {
    margin: auto;
  }
}

/*Affichage ordi moyen à grand*/
@media screen and (min-width: 1281px)
{
  .grid-sizer,
  .grid-item
  {
  width: 20%;
  }
}
