
header{
  height: 150px;
  top: 0px;
  background-color: #4D4D4D;
  color: #FFFFFF;
}

#logo{

  /*line-height : 150px
  display: block;*/
  /*margin-left: 15px;*/
  /*text-align: left;
  background-color: red;*/

.logo image{
  /*width: 50%;*/
  /*background-color: blue;*/
}

}
#entete{
  padding-top: 60px;
  margin: auto;
  text-align: center;
  z-index: 0;
  height: 100%;
}

#button{
float: right;
z-index: 9;
margin-top: -80px;
width: 300px;

}
.form_search input[type="submit"], #a{
      box-shadow: inset 0px 1px 0px 0px #45D6D6;
      background-color: #2CBBBB;
      border: 1px solid #27A0A0;
      display: inline-block;
      cursor: pointer;
      color: #FFFFFF;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 14px;
      padding: 8px 18px;
      text-decoration: none;
      text-transform: uppercase;
  }

  .form_search input[type="submit"], #a:hover {
      background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
      background-color:#34CACA;
  }
  .form_search{
    margin-top: -80px;
  }
