[Desktop Entry]
Encoding=UTF-8
Name=Link to fa-github: Font Awesome Icons
Type=Link
URL=http://fontawesome.io/icon/github/
Icon=text-html
Name[en_US]=\slink github: Font Awesome Icons
