[Desktop Entry]
Encoding=UTF-8
Name=Link to fa-copyright: Font Awesome Icons
Type=Link
URL=http://fontawesome.io/icon/copyright/
Icon=text-html
Name[en_US]=Link copyright: Font Awesome Icons
